<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="./index.cshtml">
                <img src="~/Images/nav-logo-1.png">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="./index.cshtml">TRANG CHỦ</a></li>
                <li><a href="./historypage.cshtml">LỊCH SỬ</a></li>
                <li><a href="~/listfilmpage.cshtml">BẢNG XẾP HẠNG</a></li>
                <li><a href="./index.cshtml#contact-us">LIÊN HỆ</a></li>
            </ul>
        </div>
        <div class="user-avatar">
            <a><img src="~/Images/user-black.png"></a>
        </div>
    </div>
</nav>