@{
    Layout = "_Layout.cshtml";
    Page.Title = "Đăng ký - Giải thưởng cánh diều vàng";
}

<!--Style for element in page-->
@section styles {
    <link rel="stylesheet" href="~/Content/css/signup.css" />
}

@if (IsPost)
{
    //get values of this form
    string name = Request.Form["name"];
    string email = Request.Form["email"];
    string birthday = Request.Form["birthday"];
    string phonenumber = Request.Form["phonenumber"];
    string facebook = Request.Form["facebook"];
    string tendangnhap = Request.Form["tendangnhap"];
    string password1 = Request.Form["password1"];
    string password2 = Request.Form["password2"];
    string check = Request.Form["check"];
    string file = null;

    //check empty values
    if (!string.IsNullOrWhiteSpace(name) && !string.IsNullOrWhiteSpace(email)
&& !string.IsNullOrWhiteSpace(birthday) && !string.IsNullOrWhiteSpace(phonenumber)
&& !string.IsNullOrWhiteSpace(facebook) && !string.IsNullOrWhiteSpace(check)
&& !string.IsNullOrWhiteSpace(tendangnhap) && !string.IsNullOrWhiteSpace(password1)
&& !string.IsNullOrWhiteSpace(password2))
    {
        //check password
        if (password1 == password2)
        {
            // password1 same as password2
            //check TenDangNhap and insert data
            var db = Database.Open("DefaultConnection");

            var sql_check = "select * from Users where TenDangNhap = '" + tendangnhap + "'";

            var result = db.QuerySingle(sql_check);

            if (result != null)
            {
                // this username exist
                Response.Write("tên tài khoản đã tồn tại");
            }
            else
            {
                // this username don't exist and can insert

                //check image file exist and upload file
                if (Request.Files["file"] != null)
                {
                    //this file exist
                    HttpPostedFileBase MyFile = Request.Files["file"];

                    //setting location to upload file
                    string TargetLocation = Server.MapPath("~/Images/Users/");

                    try
                    {
                        if (MyFile.ContentLength > 0)
                        {
                            //get name of this file
                            string FileName = MyFile.FileName;
                            //get size of this file
                            int FileSize = MyFile.ContentLength;

                            //get type of this file
                            string[] arrListStr = FileName.Split('.');
                            string typeFile = arrListStr[arrListStr.Length - 1];
                            FileName = arrListStr[0];
                            //Response.Write(typeFile);

                            //format file name 
                            DateTime day = DateTime.Now;
                            FileName = FileName + day + "." + typeFile;
                            FileName = FileName.Replace(" ", "_");
                            FileName = FileName.Replace("/", "-");
                            FileName = FileName.Replace(":", "-");

                            byte[] FileByteArray = new byte[FileSize];
                            MyFile.InputStream.Read(FileByteArray, 0, FileSize);

                            //upload to server
                            MyFile.SaveAs(TargetLocation + FileName);

                            // get link of this file after upload file
                            file = "Images/Users/" + FileName;
                            Response.Write(file);
                        }
                    }
                    catch (Exception e)
                    {
                        Response.Write(e.Message);
                    }
                }
                else
                {
                    //this file don't exist
                    Response.Write("không có file");
                }

                //insert data of new user
                var sql = "insert into Users (TenNguoiDung, TenDangNhap, MatKhau, HinhAnhNguoiDung, NgaySinhNguoiDung, Email, SDT, FaceBook, Level) " +
                    "values (@0, @1, @2, @3, @4, @5, @6, @7, @8)";
                db.Execute(sql, name, tendangnhap, password1, file, birthday, email, phonenumber, facebook, 1);
                db.Close();
            }
        }
        else
        {
            //the password don't same
            Response.Write("mật khẩu không khớp");
        }
    }
    else
    {
        //Not fully entered information
        Response.Write("chưa nhập đầy đủ thông tin nha bạn trẻ");
    }
}
else
{
    <!--Begin page content-->
    <section id="signup">
        <div class="signup-content row">
            <h3 class="title">Đăng ký tài khoản</h3>
            <div class="left-form col-md-4">
                <div class="signup-banner">
                    <img src="~/Images/signup_banner.jpg">
                </div>
            </div>
            <form class="row col-md-8" method="post" action="" runat="Server" enctype="multipart/form-data">
                <div class="right-form">
                    <div class="pick-avatar">
                        <img id="frame" ondrop="drop(event)" ondragover="allowDrop(event)"></img>
                        <input class="choose-img" type="file" accept="image/*" runat="Server" name="file" value="CHỌN ẢNH TỪ MÁY">
                    </div>
                    <div class="attr-element">
                        <label>Họ tên:</label>
                        <input type="text" name="name" placeholder="Nhập họ tên của bạn">
                    </div>
                    <div class="attr-element">
                        <label>Ngày tháng năm sinh:</label>
                        <div class='input-group date' id='datetimepicker1'>
                            <input type='date' name="birthday" class="form-control" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="attr-element">
                        <label>Địa chỉ email:</label>
                        <input type="email" name="email" placeholder="Nhập địa chỉ email">
                    </div>
                    <div class="attr-element">
                        <label>Số điện thoại:</label>
                        <input type="text" name="phonenumber" placeholder="Nhập số điện thoại">
                    </div>
                    <div class="attr-element">
                        <label>Địa chỉ facebook (nếu có):</label>
                        <input type="text" name="facebook" placeholder="Nhập địa chỉ facebook">
                    </div>
                    <div class="attr-element">
                        <label>Tên tài khoản:</label>
                        <input type="text" name="tendangnhap" placeholder="Nhập tên tài khoản">
                    </div>
                    <div class="attr-element">
                        <label>Mật khẩu:</label>
                        <input type="password" name="password1" placeholder="Nhập mật khẩu">
                    </div>
                    <div class="attr-element">
                        <label>Nhập lại mật khẩu:</label>
                        <input type="password" name="password2" placeholder="Nhập lại mật khẩu">
                    </div>
                    <div class="considtion-readed">
                        <label class="container">
                            Tôi đã đọc và đồng ý với các <a id="condition">Điều kiện &amp; điều khoản</a>
                            <input type="checkbox" name="check" checked="true">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    <div class="btn-group row">
                        <div class="col-md-6">
                            <input class="btn signup-btn" type="submit" name="ok" value="ĐĂNG KÍ" />
                        </div>
                        <div class="col-md-6">
                            <a href="./index.cshtml"><div class="btn cancel-btn">HỦY</div></a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
    <div id="condition-popup" style="display:none">
        <div class="popup-container">
            <a><i class="close-condition-popup fa fa-close"></i></a>
            <div class="content">
                <div class="title">Điều kiện &amp; điều khoản</div>
                <div class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora quibusdam repudiandae, distinctio aliquam fuga optio incidunt dignissimos natus amet porro!</div>
                <div class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid exercitationem minus cumque veritatis nisi, error suscipit in qui neque architecto eveniet, corrupti doloribus, cum aspernatur similique. Facilis nisi tempora omnis ut esse quam, praesentium ratione iure eaque excepturi aperiam doloribus voluptatem suscipit laborum consequatur accusantium a, quasi, earum illum incidunt eum reprehenderit voluptas. Voluptatum, architecto tempora? Ab atque modi doloremque dignissimos fuga, explicabo eos alias? Laboriosam officiis et mollitia aspernatur ad voluptatum. Aut, molestias. Sunt alias amet deserunt vel impedit, voluptatibus aliquam animi, dolor necessitatibus repellat cum similique. Expedita maiores aut voluptate ad harum eligendi molestiae quasi et laudantium nam?</div>
            </div>
        </div>
    </div>
    <!--End page content-->
}


<!--Script js for page-->
@section scripts{
    <script type="text/javascript" src="~/Scripts/js/signup.js"></script>
}