@{
    Layout = "_Layout.cshtml";
    Page.Title = "Đăng ký - Giải thưởng cánh diều vàng";
}

@{

    var result_signup = onPost_SignupAccount();
    <script type="text/javascript">
        if ("@result_signup.ToString()" == "1")
            setTimeout(function () {
                alert("Đăng ký không thành công, xin hãy kiểm tra lại!");
            }, 5000);
        else if ("@result_signup.ToString()" == "2") {
            setTimeout(function () {
                alert("Đăng ký thành công!");
            }, 5000);
        }
    </script>
    
}

@functions{

    //properties
    public string action { get; set; }
    public string username { get; set; }
    public string account { get; set; }
    public string password { get; set; }
    public string email { get; set; }
    public string birthday { get; set; }
    public string phonenumber { get; set; }
    public string facebook { get; set; }
    public WebImage avatar { get; set; }
    string avatarPath = "Images/avatar/";

    public int onPost_SignupAccount()
    {
        int result = 0;
        if (IsPost)
        {
            account = Request.Form["account"];
            password = Request.Form["password"];
            encodePassword();
            username = Request.Form["username"];
            email = Request.Form["email"];
            birthday = Request.Form["birthday"];
            phonenumber = Request.Form["phonenumber"];
            facebook = Request.Form["facebook"];
            action = Request.Form["action"];

            avatar = WebImage.GetImageFromRequest();
            var newFileName = "";
            var imagePath = "";

            if (account == "" || password == "" || username == "" || email == "" || birthday == "")
            {
                result = 1;
                return result;
            }

            if (action == "signup")
            {
                if (!checkAccountExist())
                {
                    if(avatar != null)
                    {
                        //Lưu file hình ảnh vào folder - Lưu path của image
                        newFileName = Guid.NewGuid().ToString() + "_" + Path.GetFileName(avatar.FileName);
                        imagePath = @"Images\avatar\" + newFileName;
                        avatarPath += newFileName.ToString();
                        avatar.Save(@"~\" + imagePath);
                    }
                    else
                    {
                        avatarPath = "Images/avatar/nene.jpg";
                    }
                    var insertResult = insertAccount();
                    if (insertResult == true)
                        result = 2;
                    else
                        result = 1;
                }
                else
                {
                    result = 1;
                }
            }
        }

        return result;
    }

    public bool insertAccount()
    {
        var db = Database.Open("DefaultConnection");
        var index = getMaxUserID();
        var accountInfo = db.Query("INSERT INTO Users VALUES('"+index+"',N'"+username+"','"+account+"','"+password+"','"+avatarPath+"','"+birthday+"','"+email+"','"+phonenumber+"','"+facebook+"',0,N'Khán giả');");

        if (checkAccountExist())
            return true;

        return false;
        db.Close();
    }

    public bool checkAccountExist()
    {
        var db = Database.Open("DefaultConnection");

        var accountInfo = db.Query("SELECT * FROM Users WHERE TenDangNhap = '"+account+"'");

        if (accountInfo.Count() > 0)
            return true;

        return false;
        db.Close();
    }

    public string getMaxUserID()
    {
        var db = Database.Open("DefaultConnection");

        var accountInfo = db.Query("SELECT MAX(MaNguoiDung) AS MaxMaND FROM Users");
        string maxUserID = accountInfo.ElementAt(0).MaxMaND;
        string index = (int.Parse(maxUserID.Substring(2, 3)) + 1).ToString();

        switch (index.Length)
        {
            case 1:
                index = "00" + index;
                break;
            case 2:
                index = "0" + index;
                break;
        }

        return maxUserID.Substring(0, 2)+index;
        db.Close();
    }

    public void encodePassword()
    {
        if(password != null && password != "")
            password = System.Web.Security.FormsAuthentication.HashPasswordForStoringInConfigFile(password.Trim(), "SHA1");
    }
}

<!--Style for element in page-->
@section styles {
    <link rel="stylesheet" href="~/Content/css/signup.css" />
}

<!--Begin page content-->
<section id="signup">
    <div class="signup-content row">
        <h3 class="title">Đăng ký tài khoản</h3>
        <div class="left-form col-md-4">
            <div class="signup-banner">
                <img src="~/Images/signup_banner.jpg">
            </div>
        </div>
        <form class="row col-md-8" method="post" enctype="multipart/form-data">
            <div class="right-form">
                <div class="pick-avatar">
                    <img id="frame" ondrop="drop(event)" ondragover="allowDrop(event)"></img>
                    <input class="choose-img" type="file" value="CHỌN ẢNH TỪ MÁY" name="Image">
                </div>
                <div class="attr-element">
                    <label>Tài khoản:</label>
                    <input type="text" name="account" placeholder="Nhập tài khoản">
                </div>
                <div class="attr-element">
                    <label>Mật khẩu:</label>
                    <input type="password" name="password" placeholder="Nhập mật khẩu">
                </div>
                <div class="attr-element">
                    <label>Họ tên:</label>
                    <input type="text" name="username" placeholder="Nhập họ tên của bạn">
                </div>
                <div class="attr-element">
                    <label>Ngày tháng năm sinh:</label>
                    <input type="date" name="birthday" placeholder="Nhập ngày sinh">
                </div>
                <div class="attr-element">
                    <label>Địa chỉ email:</label>
                    <input type="email" name="email" placeholder="Nhập địa chỉ email">
                </div>
                <div class="attr-element">
                    <label>Số điện thoại (nếu có):</label>
                    <input type="text" name="phonenumber" placeholder="Nhập số điện thoại">
                </div>
                <div class="attr-element">
                    <label>Địa chỉ facebook (nếu có):</label>
                    <input type="text" name="facebook" placeholder="Nhập địa chỉ facebook">
                </div>
                <div class="considtion-readed">
                    <label class="container">
                        Tôi đã đọc và đồng ý với các <a id="condition">Điều kiện &amp; điều khoản</a>
                        <input type="checkbox" checked="true">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <input type="hidden" name="action" value="signup" />
                <div class="btn-group row">
                    <div class="col-md-6">
                        <input type="submit" class="btn signup-btn" value="ĐĂNG KÝ" />
                    </div>
                    <div class="col-md-6">
                        <a href="./index.cshtml"><div class="btn cancel-btn">HỦY</div></a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
<div id="condition-popup" style="display:none">
    <div class="popup-container">
        <a><i class="close-condition-popup fa fa-close"></i></a>
        <div class="content">
            <div class="title">Điều kiện &amp; điều khoản</div>
            <div class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora quibusdam repudiandae, distinctio aliquam fuga optio incidunt dignissimos natus amet porro!</div>
            <div class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid exercitationem minus cumque veritatis nisi, error suscipit in qui neque architecto eveniet, corrupti doloribus, cum aspernatur similique. Facilis nisi tempora omnis ut esse quam, praesentium ratione iure eaque excepturi aperiam doloribus voluptatem suscipit laborum consequatur accusantium a, quasi, earum illum incidunt eum reprehenderit voluptas. Voluptatum, architecto tempora? Ab atque modi doloremque dignissimos fuga, explicabo eos alias? Laboriosam officiis et mollitia aspernatur ad voluptatum. Aut, molestias. Sunt alias amet deserunt vel impedit, voluptatibus aliquam animi, dolor necessitatibus repellat cum similique. Expedita maiores aut voluptate ad harum eligendi molestiae quasi et laudantium nam?</div>
        </div>
    </div>
</div>
<!--End page content-->
<!--Script js for page-->
@section scripts{
    <script type="text/javascript" src="~/Scripts/js/signup.js"></script>
}